<h1> Edit skill </h1>
<%= form_for :skill, url: skills_path do |f| %>
<% if @skill.errors.any? %>
 <div id="error_explanation">
   <h2>
     <%= pluralize(@skill.errors.count, "error") %> prohibited
     this article from being saved:
   </h2>
   <ul>
     <% @skill.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
   </ul>
 </div>
<% end %>
  <p>
    <%= f.label :"Skill Name" %><br>
    <%= f.text_field :skill %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', skills_path %>
